In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import plotly.express as px

In [2]:
df = pd.read_csv('12344.csv')

In [3]:
df.head()

,wonum,status,statusdate,worktype,assetnum,location,historyflag,wopriority,targcompdate,targstartdate,...,lead,wogroup,scheduler,planner,projeng1,location2,createdby,zzcontractor,zzdepartment,passfailstatus
0,2593743,CLOSE,3/6/2022,PM,A525-000670,KSAUHS-3-Z002,1.0,NaN,00:00.0,00:00.0,...,H-013,2593743,H-013,H-013,H-011,NaN,MAXADMIN,C1-ZAHRAN,Electrical,NaN
1,2593745,CLOSE,3/7/2022,PM,A525-000672,KSAUHS-3-Z002,1.0,NaN,00:00.0,00:00.0,...,H-013,2593745,H-013,H-013,H-011,NaN,MAXADMIN,C1-ZAHRAN,Electrical,NaN
2,2593748,CLOSE,3/8/2022,PM,A525-000675,KSAUHS-3-Z002,1.0,NaN,00:00.0,00:00.0,...,H-013,2593748,H-013,H-013,H-011,NaN,MAXADMIN,C1-ZAHRAN,Electrical,NaN
3,2593754,CLOSE,3/9/2022,PM,A525-000681,KSAUHS-3-Z002,1.0,NaN,00:00.0,00:00.0,...,H-013,2593754,H-013,H-013,H-011,NaN,MAXADMIN,C1-ZAHRAN,Electrical,NaN
4,2593755,CLOSE,3/10/2022,PM,A810-000633,KSAUHS-3-Z001,1.0,NaN,00:00.0,00:00.0,...,H-494,2593755,H-494,H-494,H-494,NaN,MAXADMIN,C1-ZAHRAN,Non-Medical,NaN

In [5]:
df.size

26070628

In [6]:
df.shape

(840988, 31)

In [7]:
df.columns = df.columns.str.replace(' ', '')

In [8]:
df.shape

(840988, 31)

In [9]:
#delete column 

df = df.drop(['statusdate' ,'targcompdate', 'targstartdate', 'reportedby',
       'reportdate', 'actstart', 'schedstart', 'schedfinish','supervisor', 'origrecordid',
         'owner', 'lead', 'wogroup', 'scheduler', 'planner', 'projeng1', 'location2',
       'createdby', 'passfailstatus', "persongroup" , "ownergroup"] , axis=1)

In [10]:
df.shape

(840988, 10)

In [11]:
df.columns

Index(['wonum', 'status', 'worktype', 'assetnum', 'location', 'historyflag',
       'wopriority', 'actfinish', 'zzcontractor', 'zzdepartment'],
      dtype='object')

In [12]:
df = df.rename(columns={"wonum": "work_number", 
                   "assetnum": "asset_ID",
                   "wopriority": "Priority",
                   "actfinish": "Date", 
                   "historyflag": "modifications",
                   'zzdepartment': "field_type",
                   "zzcontractor": "contractor"})

In [13]:
df.columns

Index(['work_number', 'status', 'worktype', 'asset_ID', 'location',
       'modifications', 'Priority', 'Date', 'contractor', 'field_type'],
      dtype='object')

In [14]:
df.shape

(840988, 10)

In [15]:
df['worktype'].value_counts()

PM      708707
CM       96270
PDI      33819
EM        1769
MOD        166
HSE          2
2021         1
CMP          1
2020         1
LOG          1
Name: worktype, dtype: int64

In [19]:
df.drop(df[df['worktype'] == 'PM'].index, inplace = True)
df.drop(df[df['worktype'] == 'LOG'].index, inplace = True)
df.drop(df[df['worktype'] == '2020'].index, inplace = True)
df.drop(df[df['worktype'] == 'CMP'].index, inplace = True)
df.drop(df[df['worktype'] == '2021'].index, inplace = True)
df.drop(df[df['worktype'] == 'HSE'].index, inplace = True)

In [20]:
df.shape

(132275, 10)

In [22]:
df['worktype'].value_counts()

CM     96270
PDI    33819
EM      1769
MOD      166
Name: worktype, dtype: int64

In [23]:
df['contractor'].value_counts()

C1-ZAHRAN        112871
C1-JASH           16283
C2-NESMA           2042
C4-ALKHORAYEF       413
C3-SICE             188
HTMS                 35
Name: contractor, dtype: int64

In [24]:
df.drop(df[df['contractor'] == 'C3-SICE'].index, inplace = True)
df.drop(df[df['contractor'] == 'C4-ALKHORAYEF'].index, inplace = True)
df.drop(df[df['contractor'] == 'HTMS'].index, inplace = True)

In [25]:
df['contractor'].value_counts()

C1-ZAHRAN    112871
C1-JASH       16283
C2-NESMA       2042
Name: contractor, dtype: int64

In [26]:
df['status'].value_counts()

CLOSE           125496
CAN               2437
ACCESSDENIED      1321
COMP              1113
WMATL              561
WAPPR              153
WPLAN              142
SCHEDCOMP           99
REQCAN              76
WASSESS             61
WSCH                54
CANREJ              44
INPRG               34
PLANCOMPWMAT        13
WSAFE               13
DEFERRED             7
READY                5
PLANCOMP             5
TAAPPR               2
FAIL                 2
PASS                 1
Name: status, dtype: int64

In [27]:
df.drop(df[df['status'] == ('ACCESSDENIED')].index, inplace = True)
df.drop(df[df['status'] == 'CAN'].index, inplace = True)
df.drop(df[df['status'] == 'INPRG'].index, inplace = True)
df.drop(df[df['status'] == 'FAIL'].index, inplace = True)
df.drop(df[df['status'] == 'TAAPPR'].index, inplace = True)
df.drop(df[df['status'] == 'PLANCOMP'].index, inplace = True)
df.drop(df[df['status'] == 'PLANCOMPWMAT'].index, inplace = True)
df.drop(df[df['status'] == 'WSAFE'].index, inplace = True)
df.drop(df[df['status'] == 'DEFERRED'].index, inplace = True)

df.drop(df[df['status'] == ('WMATL')].index, inplace = True)
df.drop(df[df['status'] == 'WAPPR'].index, inplace = True)
df.drop(df[df['status'] == 'WPLAN'].index, inplace = True)
df.drop(df[df['status'] == 'REQCAN'].index, inplace = True)
df.drop(df[df['status'] == 'WASSESS'].index, inplace = True)
df.drop(df[df['status'] == 'INPRG'].index, inplace = True)

df.drop(df[df['status'] == ('WSCH')].index, inplace = True)
df.drop(df[df['status'] == 'CANREJ'].index, inplace = True)
df.drop(df[df['status'] == 'READY'].index, inplace = True)
df.drop(df[df['status'] == 'SCHEDCOMP'].index, inplace = True)

In [28]:
df['status'].value_counts()

CLOSE    125496
COMP       1113
PASS          1
Name: status, dtype: int64

In [29]:
df['Date']

5         5/19/2020
6          1/1/2020
46         3/3/2020
47        2/24/2020
48        2/25/2020
            ...
840718     5/3/2020
840719     5/4/2020
840720     5/4/2020
840721     5/4/2020
840722     5/4/2020
Name: Date, Length: 126610, dtype: object

In [30]:
df.shape

(126610, 10)

In [31]:
df.size

1266100

In [38]:
df['field_type'].value_counts()

Electrical     53279
Mechanical     28759
Civil          21738
Plumbing       19616
Low Current     2147
Non-Medical      641
Name: field_type, dtype: int64

In [39]:
df.isnull().sum()

work_number          0
status               0
worktype            38
asset_ID         83076
location           236
modifications        0
Priority          2189
Date              5217
contractor         198
field_type         430
dtype: int64

In [34]:
df.describe()

       modifications       Priority
count  126610.000000  124421.000000
mean        0.991209       2.946906
std         0.093346       0.282895
min         0.000000       1.000000
25%         1.000000       3.000000
50%         1.000000       3.000000
75%         1.000000       3.000000
max         1.000000       3.000000

In [35]:
df.shift()

,work_number,status,worktype,asset_ID,location,modifications,Priority,Date,contractor,field_type
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2593783,CLOSE,CM,A530-001751,KSAUHS-3-Z002,1.0,3.0,5/19/2020,C1-ZAHRAN,Electrical
46,2593787,CLOSE,PDI,NaN,KSAUHS-3-Z002,1.0,3.0,1/1/2020,C1-ZAHRAN,Plumbing
47,2594111,CLOSE,CM,A530-005523,KSAUHS-3-Z002,1.0,3.0,3/3/2020,C1-ZAHRAN,Low Current
48,2594121,CLOSE,PDI,A415-000584,KSAUHS-3-Z005,1.0,3.0,2/24/2020,C1-ZAHRAN,Mechanical
...,...,...,...,...,...,...,...,...,...,...
840718,WO-998058,CLOSE,CM,NaN,KSAUHS-1-Z04A,1.0,3.0,5/3/2020,C1-JASH,Electrical
840719,WO-998063,CLOSE,CM,NaN,KSAUHS-1-Z04A,1.0,3.0,5/3/2020,C1-JASH,Electrical
840720,WO-998065,CLOSE,CM,NaN,KSAUHS-1-Z04A,1.0,3.0,5/4/2020,C1-JASH,Electrical
840721,WO-998068,CLOSE,CM,NaN,KSAUHS-1-Z02A,1.0,2.0,5/4/2020,C1-JASH,Plumbing
840722,WO-998076,CLOSE,CM,NaN,KSAUHS-1-Z04A,1.0,3.0,5/4/2020,C1-JASH,Civil

In [36]:
df.isnull().sum()

work_number          0
status               0
worktype            38
asset_ID         83076
location           236
modifications        0
Priority          2189
Date              5217
contractor         198
field_type         430
dtype: int64

In [40]:
df.describe(include='all')

,work_number,status,worktype,asset_ID,location,modifications,Priority,Date,contractor,field_type
count,126610,126610,126572,43534,126374,126610.000000,124421.000000,121393,126412,126180
unique,125993,3,4,11463,31,NaN,NaN,1057,3,6
top,DWO-10050,CLOSE,CM,A510-000001,KSAUHS-1-Z04A,NaN,NaN,10/1/2022,C1-ZAHRAN,Electrical
freq,2,125496,91979,1315,27659,NaN,NaN,1108,108522,53279
mean,NaN,NaN,NaN,NaN,NaN,0.991209,2.946906,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,0.093346,0.282895,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,1.000000,3.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,1.000000,3.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,1.000000,3.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,1.000000,3.000000,NaN,NaN,NaN

In [41]:
df = df.dropna()

In [42]:
df.isnull().sum()

work_number      0
status           0
worktype         0
asset_ID         0
location         0
modifications    0
Priority         0
Date             0
contractor       0
field_type       0
dtype: int64

In [43]:
df.shape

(40966, 10)

In [ ]:
df['field_type'].unique()

In [44]:
 df.to_csv('final.csv', index=False)